# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook
*.ipynb
.ipynb_checkpoints

# Project-specific
__obsolete__
*.txt
*.tsv
*.tsv#
*.bed
*.edgelist
*.zip
*.Rhistory
*.EntrezGene
*.log
*.pickle
locus_sampling
figures